USE [master]
GO
/****** Object:  Database [PPDM]    Script Date: 09/11/2022 23:26:51 ******/
CREATE DATABASE [PPDM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PPDM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PPDM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PPDM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PPDM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PPDM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PPDM]
GO
/****** Object:  Table [dbo].[CookieCategories]    Script Date: 09/11/2022 23:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CookieCategories](
	[CookieCategoryId] [int] NOT NULL,
	[CookieCategoryName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_CookieCategories] PRIMARY KEY CLUSTERED 
(
	[CookieCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivacyPolicies]    Script Date: 09/11/2022 23:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivacyPolicies](
	[PrivacyPolicyId] [int] IDENTITY(1,1) NOT NULL,
	[PrivacyPolicyData] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrivacyPolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteCookies]    Script Date: 09/11/2022 23:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteCookies](
	[SiteId] [int] NOT NULL,
	[CookieCategoryId] [int] NOT NULL,
 CONSTRAINT [UQ_Site_CookieCategory] UNIQUE NONCLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SitePrivacyPolicies]    Script Date: 09/11/2022 23:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SitePrivacyPolicies](
	[SiteId] [int] NOT NULL,
	[PrivacyPolicyId] [int] NOT NULL,
 CONSTRAINT [UQ_SitePrivacyPolicies] UNIQUE NONCLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sites]    Script Date: 09/11/2022 23:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sites](
	[SiteId] [int] IDENTITY(1,1) NOT NULL,
	[SiteName] [nchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteVendors]    Script Date: 09/11/2022 23:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteVendors](
	[SiteId] [int] NOT NULL,
	[VendorId] [int] NOT NULL,
	[CookieCategoryId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/11/2022 23:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[UserEmail] [nvarchar](250) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 09/11/2022 23:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorId] [int] NOT NULL,
	[VendorName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SiteCookies]  WITH CHECK ADD  CONSTRAINT [FK_SiteCookies_CookieCategories] FOREIGN KEY([CookieCategoryId])
REFERENCES [dbo].[CookieCategories] ([CookieCategoryId])
GO
ALTER TABLE [dbo].[SiteCookies] CHECK CONSTRAINT [FK_SiteCookies_CookieCategories]
GO
ALTER TABLE [dbo].[SiteCookies]  WITH CHECK ADD  CONSTRAINT [FK_SiteCookies_Sites] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Sites] ([SiteId])
GO
ALTER TABLE [dbo].[SiteCookies] CHECK CONSTRAINT [FK_SiteCookies_Sites]
GO
ALTER TABLE [dbo].[SitePrivacyPolicies]  WITH CHECK ADD  CONSTRAINT [FK_SitePrivacyPolicies_PrivacyPolicies] FOREIGN KEY([PrivacyPolicyId])
REFERENCES [dbo].[PrivacyPolicies] ([PrivacyPolicyId])
GO
ALTER TABLE [dbo].[SitePrivacyPolicies] CHECK CONSTRAINT [FK_SitePrivacyPolicies_PrivacyPolicies]
GO
ALTER TABLE [dbo].[SitePrivacyPolicies]  WITH CHECK ADD  CONSTRAINT [FK_SitePrivacyPolicies_Sites] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Sites] ([SiteId])
GO
ALTER TABLE [dbo].[SitePrivacyPolicies] CHECK CONSTRAINT [FK_SitePrivacyPolicies_Sites]
GO
ALTER TABLE [dbo].[SiteVendors]  WITH CHECK ADD  CONSTRAINT [FK_SiteVendors_CookieCategories] FOREIGN KEY([CookieCategoryId])
REFERENCES [dbo].[CookieCategories] ([CookieCategoryId])
GO
ALTER TABLE [dbo].[SiteVendors] CHECK CONSTRAINT [FK_SiteVendors_CookieCategories]
GO
ALTER TABLE [dbo].[SiteVendors]  WITH CHECK ADD  CONSTRAINT [FK_SiteVendors_Sites] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Sites] ([SiteId])
GO
ALTER TABLE [dbo].[SiteVendors] CHECK CONSTRAINT [FK_SiteVendors_Sites]
GO
ALTER TABLE [dbo].[SiteVendors]  WITH CHECK ADD  CONSTRAINT [FK_SiteVendors_Vendors] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([VendorId])
GO
ALTER TABLE [dbo].[SiteVendors] CHECK CONSTRAINT [FK_SiteVendors_Vendors]
GO
USE [master]
GO
